<div class="row">
  <div class="col-xs-6"><%= link_to "Test1", "", class: "btn btn-primary" %></div>
  <div class="col-xs-6"><%= link_to "Test1", "", class: "btn btn-primary" %></div>
</div>

<hello-angular>Loading...</hello-angular>
<%= javascript_pack_tag 'hello_angular' %>
